NODE_ENV=local
PORT=3001
NEW_RELIC_KEY=
DATABASE_URL=postgres://api:development_pass@localhost:5435/restaurant-api

SWAGGER_USERNAME=hello
SWAGGER_PASSWORD=hello
DEBUG=eats-restaurant:*

FIREBASE_PRIVATE_KEY="_____add_your____"
FIREBASE_CLIENT_EMAIL=firebase-adminsdk-o8sdr@dev-clone-50ab6.iam.gserviceaccount.com
FIREBASE_DATABASE_URL=https://swiggy-clone-50ab6.firebaseapp.com
FIREBASE_PROJECT_ID=swiggy-clone-50ab6
